##############################################							TextMate Snippets            ##############################################

snippet def "#define..."
#define ${1}
endsnippet

snippet c "/*...*/"
/* ${1}  */
endsnippet

snippet and "&"
&
endsnippet

